body {
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
}

div {
    width: 100%;
    background-color: rgb(110, 110, 110);
    padding: 25px;
}

.circle {
    width: 15%;
    border: 5px rgb(75, 75, 75) solid;
    border-radius: 1000px;
    margin: 50px 80px;
}